/* Header Styling */
#header {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color:rgb(0, 1, 53);
    height: 100px;
    border-block-end: 2px;
}
.clearfix {
    overflow: auto;
  }


/* H1 Styling */

#AboutMe {
    display: grid;
    align-items: baseline;
    font-family: 'Livvic', sans-serif;
    font-size: 30px;
    color: aquamarine;
}

/* aboutMeGrid Styling */
#aboutMeGrid {
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-areas: 
  "photoContainer partialContainer partialContainer"
  "fullContainer fullContainer fullContainer""
  "partialContainer partialContainer photoContainer"
  "fullContainer fullContainer fullContainer"
  "CTA CTA CTA";
}

h3 {
    margin: 25px;
    text-align: left;
}
/* Section Heading Styling */
.sectionHead {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: rgb(0, 1, 53);
    padding: 15px;
    height: 20px;
    color: white;
    font-size: 18px;
    border-bottom: 5px solid rgb(255, 147, 7);
}

/* aboutMeGridArea Styling */
#aboutMeGridArea {
    font-family: 'Livvic', sans-serif;
    margin: 10px;
    cursor: pointer;
    display: grid;
    align-content: left;
    font-size: 18px;
}
/* partial container styling */
.partialContainer {
    display: grid;
    justify-content: flex-end;
}

/* Partial Left Container */
#partialLeftContainer {
    display: grid;
    align-content: center;
    justify-content: flex-start;
}

/* Partial Right Container */
.partialRightContainer {
    display: grid;
    justify-content: flex-start;
}

/* Photo Container Styling*/
.photoContainer {
    grid-area: photoContainer;
    border-block-color: red;
    border-block-style: solid;
}

/* Right Photo Container */
#rightPhoto{
    display: flex;
    float:inline-end;
    justify-content: center;
}
/* partial Container Styling */
/*.partialContainer {
    grid-area: partialContainer;
    grid-column-start: 2;
    grid-column-end: 6;
    border-block-color: green;
    border-block-style: solid;
}
/* full block styling */
.fullContainer {
    grid-area: fullContainer;
    margin: 30px;
    border-block-color: blue;
    border-block-style: solid
}

/* Flex Container */
#flexContainer {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

/* Call To Actiom styling */

.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   text-align: center;
}



